{%- set langCode = 'zh' -%}
{%- if '/en/' in page.url -%}
  {%- set langCode = 'en' -%}
{%- endif -%}
{%- set t = i18n[langCode] -%}
<!DOCTYPE html>
<html lang="{{ 'en' if langCode == 'en' else 'zh-CN' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.seoEn.description if langCode == 'en' else site.seo.description }}">
  <meta name="keywords" content="{{ site.seoEn.keywords if langCode == 'en' else site.seo.keywords }}">
  <title>{% if title %}{{ title }} - {% endif %}{{ site.name }} - {{ site.slogan }}</title>
  <link rel="stylesheet" href="{{ site.basePath }}/css/global.css">
  <link rel="icon" href="{{ site.basePath }}/images/favicon.svg" type="image/svg+xml">
</head>
<body>
  {% include "lang-bar.njk" %}

  {% include "header.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}

  <script src="{{ site.basePath }}/js/main.js"></script>
</body>
</html>
